.progress {
    height: 40px;
}

.progress-bar-percent {
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    vertical-align: middle;
}

.panel-heading {
    cursor: pointer;
}

.panel-body {
    display: none;
}

.glyphicon {
    margin-right: 20px;
}

#carousel-example-generic {
}

#frame_data {
}

.progress-bar.active {
    border-style: solid;
    border-width: 2px;
    border-color: #444444;
}

.progress_bar_selection:hover {
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: #888888;
}
